*.json text eol=lf
*.ndjson text eol=lf
*.md text eol=lf
*.svg text eol=lf
*.i32le binary
*.u32le binary
*.u8 binary
*.png binary
*.ts text eol=lf
*.mjs text eol=lf
*.yml text eol=lf
*.py text eol=lf
fixtures/candor-sw-v0/* -text
